# Move files to trash instead of deleting
trash() {
  mkdir -p ~/.trash
  mv "$@" ~/.trash/
}

# Restore a file from trash
restore() {
  file="$1"
  if [ -f "$HOME/.trash/$file" ]; then
    mv "$HOME/.trash/$file" .
    echo "✅ Restored $file"
  else
    echo "❌ File not found."
  fi
}


edif() {
#  nano "$(find ~/dotfiles -type f | fzf)"
   nvim "$(find ~/dotfiles -type f | fzf)" 
}


#openapp() {
#  local app
#  app=$(ls /usr/share/applications ~/.local/share/applications 2>/dev/null | sed 's/\.desktop$//' | fzf)
#  [ -n "$app" ] && gtk-launch "$app"
#}
openapp() {
  local app
  app=$(ls /usr/share/applications ~/.local/share/applications 2>/dev/null | sed 's/\.desktop$//' | fzf)
  [ -n "$app" ] && gtk-launch "$app" >/dev/null 2>&1 &
}


openapp_widget() {
  zle -I                # Disable current input
  openapp               # Call your fuzzy launcher
  zle reset-prompt      # Refresh prompt after
}
zle -N openapp_widget    # Register as a widget

editfile_widget() {
  zle -I                # Disable current input
  edif               # Call your fuzzy launcher
  zle reset-prompt      # Refresh prompt after
}
zle -N editfile_widget    # Register as a widget

#Git add . + git commit -m " "
gac() {
  git add .
  echo -n "📝 Commit message: "
  read msg
  git commit -m "$msg"
}

gacp() {
  git add .
  echo -n "📝 Commit message: "
  read msg
  git commit -m "$msg"
  git push
}

